.status-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 4px;
}

span.text-only {
  display: none;
}

.status-done {
  background-color: blue;
}

.status-ready {
  background-color: yellow;
}

.status-not-ready {
  background-color: orange;
}

.status-prerequisites {
  background-color: lightgreen;
}

.status-failed {
  background-color: red;
}

.status-queued {
  background-color: lightgrey;
}

.status-running {
  background-color: green;
}

#test-selection > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
  padding: 0.3em;
  border-radius: 4px;
}